{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-5 my-auto mx-auto ">
                <h1 class="display-5 text-white logo-font" > <strong>About us</strong></h1>
                <h4 class="my-5 text-white">
                    <p>
                        Furnitart is a small furniture company based in Dublin, Ireland.
                    </p>
                    <p>
                        All our products are designed and produced by us. Our main goal is to create high quality products with a very essential and functional design.<br>
                        Our furniture has minimalist style and is extremely easy to asseble. We only work with first quality materials.<br>
                        If you want good quality but you are not ready to spend big money, Furnitart is the shop for you! 
                    </p>    
                </h4>
            </div>   
        </div>
    </div>
{% endblock %}