{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-5 my-auto mx-auto ">
                <h1 class="display-5 text-white logo-font" > <strong>Contacts</strong></h1>
                <h4 class="my-5 text-white">
                    <p>
                        Customer satisfaction is our top priority
                    </p>
                    <p>
                        If you has some problems with your purchase or if you just want to have some extra info about Furnitart,
                        do not hesitate to contact us at furnitart@example.com.
                    </p>      
                </h4>
            </div>   
        </div>
    </div>
{% endblock %}