<div class="d-flex justify-content-center justify-content-md-about filter-bar my-lg-4">
    <div class="text-center"> 
        {% if view_preorders %}
            
        {% else %}

        {% endif %}
        <a href="{% url 'products_management' %}">
            <div id="switch-to-orders"class="{% if view_preorders %} opacity{% endif %} switch-orders badge badge-info bg-color-pr border-0">Orders </div>
        </a>
        <a href="{% url 'products_management' %}?view_preorders=true">
            <div id="switch-to-preorders"class="{% if not view_preorders %} opacity{% endif %} switch-orders badge badge-info bg-color-pr border-0">Pre-orders </div>
        </a>
        {% if pay_pal_filter_active %}
            <a href="{% url 'products_management' %}?{{current_param | cut:'pay_pal_filter=True'}}">
        {% else %}
            <a href="{% url 'products_management' %}?pay_pal_filter=True&{{current_param}}">
        {% endif %}
            <div id="pay_pal_filter" class="badge bg-color-pr badge-info {% if not pay_pal_filter_active %}opacity{% endif %}"> PayPal orders</div>
        </a>      
        {% if shipped_filter_active %}
            <a href="{% url 'products_management' %}?{{current_param | cut:'shipped_filter=True'}}">
        {% else %}
            <a href="{% url 'products_management' %}?shipped_filter=True&{{current_param}}">
        {% endif %}
            <div class="badge bg-color-pr badge-info {% if not shipped_filter_active %}opacity{% endif %}">Shipped orders</div>
        </a> 
        {% if view_preorders %}
            <a href="{% url 'products_management' %}?view_preorders=true">
                <div class="badge badge-dark{% if shipped_filter_active or pay_pal_filter_active %} opacity{% endif %}">No filter</div>
            </a>
        {% else %}
            <a href="{% url 'products_management' %}">
                <div class="badge badge-dark{% if shipped_filter_active or pay_pal_filter_active %} opacity{% endif %}">No filter</div>
            </a>
        {% endif %}        
    </div> 
</div>