{% extends "base.html" %}
{% load static %}
{% load checkout_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col text-center mt-3 px-0">
                <h2 class="logo-font">Almost done!</h2>
                <div class="text-muted ">Please fill out the form below to complete your order</div>
                <hr class="w-75 mb-1 hr-color-pr">    
            </div>
        </div>
        <div class="row ">
            <div class="col-9 mx-auto px-0 ">
                <div class="row mt-1 mb-2"></div>
                <div class="row" >
                    <div class="col-12 col-md-9 payment-form-top">
                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            {% include 'includes/details_delivery_fieldsets.html' %}
                        </form>
                    </div>
                    <div class="d-none d-md-block col-md-3 payment-form-top" id="payment-bag">
                        {% include 'includes/payment_bag.html' %}
                    </div> 
                </div>
                <hr class="w-100 mb-5 hr-color-pr"> 
                <div class="row {% if delivery_problem %} d-none {% endif %}">
                    <div class="col-12 col-md-9 mx-auto jumbotron">
                        {% include 'includes/total_resume.html' %}
                    </div>
                    <div class="col-12 col-md-9 mx-auto">
                        {% include 'includes/payment_methods_fieldset.html' %}       
                    </div>
                </div>                                     
            </div>          
        </div>
        <div class="row">
            <div class="col-9 mx-auto my-5">
                <div class="row">
                    <div class="col-6 col-md-2 px-0 ">
                         <a href="{% url 'view_bag' %}" class="btn btn-outline-pr rounded-0 mx-auto h-100">
                             <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                             </span>
                            <span class="text-uppercase">Back to Bag</span>
                        </a>
                    </div>
                    <div class="col-6 col-md-2 offset-md-8 pr-0 text-right">
                        <button type="submit" id="submit-button"form="payment-form"class="d-none btn btn-outline-pr rounded-0 mx-auto"></button>
                    </div>             
                </div>
            </div>   
        </div>
    </div>
    
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            </span>
        </h1>
    </div>
    <!-- to be used by the js module attached -->
    <div id="delivery_problem" class="d-none">{{delivery_problem}}</div>    
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script src="{% static 'checkout/js/payment_choice.js' %}"></script>
    <script src="{% static 'checkout/js/delivery.js' %}"></script>
    <!-- Stripe scripts -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}